<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Prodotti in vendita</h2>
  </div>

  <hr>

  <div class="row">
    <div *ngIf="prodotti.length === 0" class="col-12 text-center">
      <p class="alert alert-info">Nessun prodotto in vendita.</p>
    </div>

    <div class="col-md-4 mb-4" *ngFor="let p of prodotti">
      <app-prodotto 
        [prodotto]="p" 
        (onAggiungiAlCarrello)="aggiungiCarrello($event)">
      </app-prodotto>
    </div>
  </div>
</div>